<!DOCTYPE html>
<html>

<head>
    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="page-header">
        <h1> {{ data.timestamp }} 이 때의 값 </h1>
    </div>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <ul class="nav nav-tabs">
                <li role="presentation"><a href="/mqttApp/">뒤로가기</a></li>
            </ul>
        </div>
    </nav>

    <div class="jumbotron">
        <ul class="list-group">

            <li class="list-group-item">온도 : {{ data.temp }}</li>
            <li class="list-group-item">습도 : {{ data.humid }}</li>

        </ul>
    </div>

</body>

</html>
