<html>
    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.0/socket.io.js" integrity="sha512-kRhNKRilFJ0TuMUgQK5O+d7Mo09dCmHLsxZb7sIwLfqpcF78O0OrwlajiS85/KTXxCNpkanNN17eEwgFtlFneQ==" crossorigin="anonymous"></script>
        <body>
            <script type="text/javascript">
    //             var binder = io("http://localhost:9999/data");
    // setInterval(function() {
    //   binder.emit('request', {'time': Date.now()});
    // }, 10000);
    
    // setInterval( function() {
    // binder.on('rtdata', function(data) {
    //   console.log('binder buffered: ', data)
    // });} ,10000);
            </script>
            <p> Hello world</p>
            <p>check the console</p>
        </body>
    </head>
</html>